



/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  background: #f9f6f1;
  color: #333;
}


:root {
   --color-white-100: hsl(206, 5%, 100%);
   --color-white-200: hsl(206, 5%, 96%);
   --color-white-300: hsl(206, 5%, 80%);
   --color-white-400: hsl(206, 5%, 65%);
   --color-white-500: hsl(206, 5%, 50%);
   --color-black-100: hsl(213, 20%, 9%);
   --color-black-200: hsl(213, 23%, 8%);
   --color-black-300: hsl(214, 21%, 6%);
   --color-black-400: hsl(210, 21%, 6%);
   --color-black-500: hsl(216, 22%, 4%);
   --color-red-100: hsl(349, 100%, 90%);
   --color-red-200: hsl(349, 100%, 80%);
   --color-red-300: hsl(349, 100%, 70%);
   --color-red-400: hsl(349, 100%, 60%);
   --color-red-500: hsl(349, 100%, 45%);
   --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   list-style-type: none;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}


  #lg-bag{
    display: none
  }


html {
   font-size: 100%;
   box-sizing: inherit;
   scroll-behavior: smooth;
   height: -webkit-fill-available;
}

body {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: var(--color-black-500);
   background-color: var(--color-white-100);
}

main {
   overflow: hidden;
}


a,
button {
   cursor: pointer;
   user-select: none;
   border: none;
   outline: none;
   background: none;
   box-shadow: none;
}

img,
video {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

.section {
   margin: 0 auto;
   padding: 5rem 0 2rem;
}

.container {
   max-width: 80rem;
   height: auto;
   margin: 0 auto;
   padding: 0 1.25rem;
}

.centered {
   text-align: center;
   vertical-align: middle;
   margin-bottom: 1rem;
}

.btn {
   display: inline-block;
   font-family: inherit;
   font-size: 1rem;
   font-weight: 500;
   line-height: 1.5;
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
   user-select: none;
   outline: none;
   border: none;
   border-radius: 0.25rem;
   text-transform: unset;
   transition: all 0.3s ease-in-out;
}

.btn-darken {
   padding: 0.75rem 2rem;
   color: var(--color-white-100);
   background-color: var(--color-black-200);
   box-shadow: var(--shadow-medium);
}

.btn-neutral {
   padding: 0.75rem 2rem;
   color: var(--color-black-500);
   background-color: var(--color-white-100);
   box-shadow: var(--shadow-medium);
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: auto;
   margin: 0 auto;
   background: var(--color-white-100);
   box-shadow: var(--shadow-medium);
}

.navbar {
   display: grid;
   grid-template-columns: repeat(2, minmax(0, 1fr));
   align-items: center;
   align-content: center;
   height: auto;
   padding-top: 0.5rem;
}

@media only screen and (min-width: 62rem) {
   .navbar {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      width: 100%;
      height: 4.25rem;
      padding-top: 0;
      margin: 0 auto;
   }
}

.brand {
   justify-self: start;
   font-family: inherit;
   font-size: 1.6rem;
   font-weight: 700;
   line-height: 1.25;
   letter-spacing: -1px;
   text-transform: uppercase;
   color: var(--color-red-500);
}

.search {
   grid-column: span 2;
   order: 3;
   width: 100%;
   height: auto;
   margin: 0 auto;
   padding-block: 1rem;
}

.search-form {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 100%;
   width: 100%;
   height: auto;
   padding-inline: 1.5rem;
   border-radius: 3rem;
   background: var(--color-white-200);
}

.search-input {
   display: block;
   font-family: inherit;
   font-size: 1rem;
   font-weight: normal;
   line-height: inherit;
   width: 100%;
   height: 100%;
   padding-block: 0.75rem;
   border: none;
   outline: none;
   color: var(--color-black-500);
   background: transparent;
}

.search-submit {
   display: block;
   font-size: 1.25rem;
   line-height: 1.5;
   margin-top: 0.25rem;
   color: var(--color-white-500);
   background: transparent;
}

@media only screen and (min-width: 62rem) {
   .search {
      justify-self: center;
      grid-column: initial;
      order: initial;
      width: 100%;
      height: auto;
   }
   .search-form {
      max-width: 30rem;
   }
}

.menu {
   position: fixed;
   top: -100%;
   left: 0;
   width: 100%;
   height: auto;
   overflow: hidden;
   padding-block: 3rem 2rem;
   background: var(--color-white-100);
   box-shadow: var(--shadow-medium);
   transition: all 0.45s ease-in-out;
}



.menu-link.active {
  color: var(--color-red-500);
  font-weight: 600;
}



.menu.is-active {
   top: 0;
   width: 100%;
   height: inherit;
}

.menu-inner {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 1.25rem;
}

.menu-link {
   font-family: inherit;
   font-size: 1rem;
   font-weight: 500;
   line-height: inherit;
   text-transform: uppercase;
   color: var(--color-black-500);
   transition: all 0.35s ease-in-out;
}

.menu-link:hover {
   outline: none;
   color: var(--color-red-400);
}

@media only screen and (min-width: 36rem) {
   .menu {
      position: relative;
      justify-self: end;
      top: 0;
      left: inherit;
      width: auto;
      height: auto;
      padding-block: 0;
      background: none;
      box-shadow: none;
      transition: none;
   }
   .menu-inner {
      display: flex;
      flex-direction: row;
      column-gap: 1.25rem;
      margin: 0 auto;
   }
   .menu-link {
      text-transform: capitalize;
   }
}

.burger {
   position: relative;
   justify-self: end;
   cursor: pointer;
   user-select: none;
   z-index: 10;
   width: 1.6rem;
   height: 1.15rem;
   border: none;
   outline: none;
   background: none;
   visibility: visible;
   transform: rotate(0deg);
   transition: 0.35s ease;
}

@media only screen and (min-width: 36rem) {
   .burger {
      display: none;
      visibility: hidden;
   }
}

.burger-line {
   position: absolute;
   display: block;
   right: 0;
   width: 100%;
   height: 2.1px;
   border: none;
   outline: none;
   opacity: 1;
   border-radius: 1rem;
   transform: rotate(0deg);
   background-color: var(--color-black-100);
   transition: 0.25s ease-in-out;
}

.burger-line:nth-child(1) {
   top: 0px;
}

.burger-line:nth-child(2) {
   top: 0.5rem;
   width: 70%;
}

.burger-line:nth-child(3) {
   top: 1rem;
}

.burger.is-active .burger-line:nth-child(1) {
   top: 0.5rem;
   transform: rotate(135deg);
}

.burger.is-active .burger-line:nth-child(2) {
   opacity: 0;
   visibility: hidden;
}

.burger.is-active .burger-line:nth-child(3) {
   top: 0.5rem;
   transform: rotate(-135deg);
}

.search-form {
   position: relative;
}

.search-icon {
   position: absolute;
   left: 1rem;
   font-size: 1.2rem;
   color: var(--color-black-400);
   pointer-events: none; /* عشان الضغط ميأثرش */
}

.search-input {
   padding-left: 2.5rem; /* مسافة عشان الأيقونة */
}



/* Header */
.header {
  background: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 10;
}




/* Slider */
.carousel-item {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}






.logo {
  font-family: 'Times New Roman', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #ff0000;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: color 0.3s;
}

.header nav ul li a:hover {
  color: hsl(349, 100%, 45%);
}




/* Slider */
.carousel-item {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.carousel-caption h3,
.carousel-caption h5,
.carousel-caption p {
  color: hsl(349, 100%, 45%); /* الأحمر اللي اخترته */
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.8); /* يخلي الخط واضح فوق الصور */
}




.nav-pills .nav-link {
    color: #fff;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.nav-pills .nav-link:hover {
    color: #fff;
    background-color: rgb(220, 53, 69);
    border: 2px solid rgb(220, 53, 69);
    border-radius: 25px;
}


.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: rgb(220, 53, 69);
    border: 2px solid rgb(220, 53, 69);
    border-radius: 25px;
}


.portfolio {
     display: flex;
     flex-flow: row wrap;
     padding: 0;
     margin: 0;
     list-style: none;
}
 .project {
     position: relative;
     flex: 1 0 calc(100% - 20px);
     margin: 10px;
}
 .project:hover .project-info {
     background: rgba(89, 89, 89, .7);
}
 @media (min-width: 520px) {
     .project {
         flex: 0 0 calc((100% / 2) - 20px);
    }
}
 @media (min-width: 860px) {
     .project {
         flex: 0 0 calc((100% / 3) - 20px);
    }
}
 .project-image img {
     display: block;
     width: 100%;
     height: auto;
}
 .project-info {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 40px;
     color: #f6f6f6;
     background: rgba(89, 89, 89, .8);
     opacity: 0;
     transition: all 350ms ease-in;
}
 .project-info:hover {
     opacity: 1;
}
 @media (max-width: 520px) {
     .project-info {
         opacity: 0.8;
    }
}
 .project-info-title {
     margin: 0 0 0.5em;
     font-size: 2em;
     text-align: center;
     text-transform: uppercase;
}
 .project-info-button {
     padding: 0.5em 1em;
     color: inherit;
     text-decoration: none;
     border: 1px solid #f6f6f6;
     border-radius: 3px;
     transition: all 350ms;
}
 .project-info-button:hover {
   text-decoration: none;
     color: #595959;
     background: #f6f6f6;
     border-color: #f6f6f6;
}
 








body {
  margin: 0;
}

.topbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topbar li {
  float: left;
}

.topbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topbar li a:hover {
  background-color: black;
}

.topbar li a.active {
  background-color: #ef3636;
}

.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 130px;
  background-color: #f1f1f1;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  overflow: auto;
}

.sidebar li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.sidebar li a.active {
  background-color: #ef3636;
  color: white;
}

.sidebar li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}

.content {
  margin-left: 130px;
  padding: 1px 16px;
  margin-top: 50px;
  height: 1000px;
}





#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;


  
}
#banner h4{
  color: #000000;
  font-size: 16px;
}

#banner h2{
  color: #000000;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span{
  color: #ef3636;
  
}

button.normal{
  color: #000;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  outline: none;
  transition: 0.2s;
  cursor: pointer
    
}

#banner button:hover{
  background-color: #ef3636;
  color: #fff;
}







 /* ====== Banner Section ====== */
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f5f5f5;
    }

    #sm-banner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 40px;
      gap: 20px;
    }

    #sm-banner .banner-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;   /* على الشمال */
      min-width: 580px;
      height: 40vh;
      background-position: center;
      background-size: cover;
      padding: 30px;
      color: #fff;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      text-align: left;          /* الكلام على الشمال */
    }

    /* طبقة غامقة فوق الصورة */
    #sm-banner .banner-box::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0,0,0,0.45); /* درجة الغمقان */
      z-index: 0;
    }

    #sm-banner .banner-box * {
      position: relative;
      z-index: 1;
    }

    #sm-banner h4 {
      font-size: 20px;
      font-weight: 300;
      margin: 0;
    }

    #sm-banner h2 {
      font-size: 36px;
      font-weight: 800;
      margin: 10px 0;
    }

    #sm-banner span {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
      display: block;
    }

    /* === زرار موحد === */
    .btn {
      padding: 14px 32px;
      border-radius: 8px;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      border: 2px solid transparent;  /* مفيش فريم افتراضياً */
      outline: none;
      background: #ef3636;
      color: #fff;
      transition: all 0.3s ease;
      cursor: pointer;
      display: inline-block;
      letter-spacing: 1px;
      text-decoration: none; /* يشيل الخط من تحت اللينك */
    }

    /* لما الماوس يقرب */
    .btn:hover {
      background: #c82323;
      border-color: #fff; /* يظهر الفريم الأبيض */
      transform: translateY(-3px);
      box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    }

    @media (max-width: 768px) {
      #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
      }
    }








/* Articles */
.articles {
  padding: 50px 30px;
}

.articles h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.article-list article {
  display: flex;
  gap: 20px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.article-list article img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.article-list article div {
  padding: 15px;
}



body {
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  line-height: 1.5;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 26px;
  color: #afb4b9;
  font-weight: normal;
}
a {
  color: #ef3636;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
  outline-offset: 0;
}
a:hover {
  color: #ef3636;
}
i {
  vertical-align: middle;
}
ul {
  padding: 0 !important;
}
li {
  list-style: none;
}
.color-base {
  color: #ffffff;
}
.bg-one-dark {
  background: #000 !important;
}
.p-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.btn {
  text-transform: uppercase;
}
.btn:focus {
  box-shadow: none;
}
.btn:hover {
  color: #fff;
}
.btn-medium {
  font-family: "Rubik", sans-serif;
  background: transparent;
  color: #ebebeb;
  font-weight: 600;
  font-size: 16px;
  padding: 14px 45px;
  border-radius: 4px;
  border: 1px solid #fdfdfd;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-medium:hover {
  background: #f8f8f8;
  color: #222;
  -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.btn-fill {
  background: #ef3636 !important;
  color: #222 !important;
}
.btn-fill:hover {
  background: #fdfdfd;
  border-color: #ffffff;
}
.about-info {
  border: 2px solid rgba(255, 255, 255, 0.2);
}
#about-section img {
  position: relative;
  z-index: 1;
}
.inline-social ul li {
  display: inline-block;
  margin-right: 10px;
}
.bullet-check li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 10px;
  color: #fff;
}
.bullet-check li:last-child {
  padding-bottom: 0;
}
.bullet-check li:before {
  position: absolute;
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  left: 0;
}


/*! responsive */
@media (max-width: 480px) {
  .about-info-wrap {
    padding: 10px !important;
    margin-top: 30px;
  }
  .about-info {
    padding: 30px !important;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 32px;
  }
  .wrap-button img {
    margin-top: 20px;
  }
  .about-info-wrap {
    padding: 10px !important;
    margin-top: 30px;
  }
  .about-info {
    padding: 30px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 30px;
  }
  .wrap-button img {
    margin-top: 20px;
  }
  .about-bullet {
    max-width: 100%;
    flex: 100%;
  }
  .about-info-wrap {
    padding: 10px !important;
    margin-top: 30px;
  }
  .about-info {
    padding: 30px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about-bullet {
    max-width: 100%;
    flex: 100%;
  }
}